body{
    margin: 0 ;
/*    position: relative;*/
}
/*
h1 h2 {
    margin: 0 ;
}
*/
input.invalid {
  background-color: #ffdddd;
}


.back{
    position: relative;
    
}


.logo{
/*    fill: #e50914;*/
/*
    height: 60px;
    width: 200px;
*/
    position: absolute ;
    top: 30px  ;
    left: 50px ;

} 
.sign{
    background: #e50914;
    color: white ;
    position: absolute ;
    top: 30px  ;
    right: 45px ;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    width: 100px;
    text-align: center;
    border-radius: 3px;
    
}
.p1{
    font-size: 46px ;
   position: absolute ;
    top: 200px  ;
    color: white;
    font-weight: bolder;
    right: 450px ; 
}
.p2{
    width: 650px;
    position: absolute ;
    top: 280px  ;
    color: white;
    right: 300px ; 
    font-size: 28px ;
}
.email{
    height: 60px;
    width: 400px;
    position: absolute ;
    top: 400px  ;
     left: 300px ; 
    font-size: 18px;
    padding-left: 10px;
   
    
}
.btn{
    background: #e50914;
     color: white ;
   height: 66px;
    width: 300px;
    position: absolute ;
    top: 400px  ;
     left: 710px ; 
    border: 0 ;
    padding: 0;
    font-size: 24px;
}
.p3{
    
     position: absolute ;
    top: 460px  ;
     left: 340px ; 
    font-size: 20px;
     color: white ;
}

.img-back{
    width: 100%;
    height: 100%;
    border-bottom: 8px solid #222222 ;
}


.overlay{
    background:rgba(0,0,0,.8);
    position: absolute;
    left: 0 ;
    top: 0 ;
    height: 100%;
    width: 100%;
   
}


.s1{

    background:#000000 ;
    border-bottom: 8px solid #222222 ;
    margin: 0 ;
}
h2{
    margin: 0;
    color: white ;
    font-size: 46px;
    padding-top: 150px;
    padding-left:   200px;
}
.s1 p {
     color: white ;
    font-size: 28px;
    padding-left:   200px;
    width: 500px ;
    padding-bottom: 100px;
}
.img1{
    float: right;
width: 500px;
    height: 400px;
    margin-right: 50px;
}
.img3{
    float: right;
}
.s2{
    background:#000000 ;
   border-bottom: 8px solid #222222 ;
    margin: 0 ;
}
h1{
    margin: 0 ;
    color: white ;
    font-size: 50px;
    padding-top: 150px;
   padding-left: 700px;
    width: 500px;
    
}
.s2 p {
     color: white ;
    font-size: 28px;
   padding-left: 700px;
    width: 500px ;
    padding-bottom: 100px;
}
.img2{
  float: left;
    width: 500px;
    height: 400px;
}
.s3{
    background:#000000 ; 
     border-bottom: 8px solid #222222 ;
}
.s3 h2{
    font-size: 50px;
    color: white;
    padding-top: 100px;
    padding-left: 400px;
}
.btns{
    background: #303030 ;
    color: white;
    font-size: 24px;
    display: block;
    margin: 0 auto ;
    height: 70px;
    width: 800px;
    border: 0;
    margin-top: 10px;
/*    padding-left:  300px;*/ 
}
.email2{
    border: 0 ;
     height: 60px;
    width: 400px;
     font-size: 18px;
    margin-left: 350px;
    margin-top: 50px;

}
.btn2{
     background: #e50914;
     color: white ;
   height: 64px;
    width: 300px;
     font-size: 24px;
     border: 0 ;
  margin-top: 53px;
    margin left: 0 ;
    margin-right: 0;
}
.s3 p {
     font-size: 20px;
     color: white ;
    padding-bottom: 70px;
    margin-left: 400px;
  
}
footer{
    background:#000000 ;
}
footer a {
   
    color: #6A7175;
    text-decoration: none;
}
footer p {
    color:#6A7175; 
}
.hh{
    display: block;
     padding-top:100px;
    margin-left: 200px;
}
ul{
    margin-top: 50px;
    margin-left: 150px;
    width: 70%;
}
ul li {
    display: inline-block;
    width:100px;
    height: 30px;
    margin-left: 100px;
}
select{
    margin-left: 300px;
    height:50px;
    width:100px;
}
footer p{
    margin: 30px 300px;
    height: 60px;
}